body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}
h2 {
    font-family: 'DotGothic16', sans-serif;
    font-size: 50px;
    /* padding-right: 100px; */
    width: 500px;
    color: lightcoral;
}
p {
    columns: 2;
    column-gap: 25px;
    padding: 50px;
    font-size: 16px;
    line-height: 26px;
    width: 1000px;
}
article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}